{% extends "base.html" %}
{% load static %}

{% block title %}Property: {{ object.address_line_one }}{% endblock %}

{% block content %}
{% if object.owner == request.user%}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
      <h2>Address: {{ object.address_line_one }}</h2>
        <li class="list-group-item"><p>Post Code: {{ object.address }}</p></li>
        <li class="list-group-item"><p>Number of Bedrooms: {{ object.no_of_bedroom }}</p></li>
        <li class="list-group-item"><p>Square Feet: {{ object.sq_feet }}</p></li>
      </ul>
      <h2>Bookings</h2>
        {% for booking in object.booking_set.all %}
            <a href="{% url 'bookings:booking_detail' pk=booking.id %}" >
               <li class="list-group-item"><p> {{ booking.date_of_check_in}} to {{ booking.date_of_check_out}} </p></li>
            </a>
        {% endfor %}
    </div>
  </div>
  {% else %}
    <h2>Sorry, You don't own this property</h2>
    <p>log in to view your property.</h2>
{% endif %}

<!-- Action buttons -->
{% if object.owner == request.user%}

<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
