{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
          {% if object.name %}
        <li class="list-group-item"><p>Name: {{ object.name }}</p></li>
        <li class="list-group-item"><p>Primary City: {{ object.primary_city }}</p></li>
        <li class="list-group-item"><p>Phone Number: {{ object.phone_number }}</p></li>

        {% for property in object.property_set.all %}
            <a href="{% url 'users:property:property_detail' pk=property.id username=object.username %}" class="list-group-item">
              {{ property.address_line_one }}
            </a>
        </ul>
        {% endfor %}
      {% endif %}


    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Complete Profile</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail Options</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}
